.menu {
    margin: 0 auto;
    width: 525px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &.active {
        display: none;
    }
    &.active_popup {
        filter: blur(4px);
    }

    .description {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 70px;
        .title {
            width: 100%;
            font-family: Ubuntu-Regular;
            margin-bottom: 22px;
            font-size: 30px;
            font-stretch: normal;
            line-height: 1.33;
            letter-spacing: normal;
            text-align: center;
            color: #dffd94;
        }

        .desc {
            width: 100%;
            margin: 0 0px 40px 0;
            font-size: 20px;
            font-family: Ubuntu-Regular;
            font-stretch: normal;
            line-height: 1.5;
            letter-spacing: normal;
            text-align: center;
            color: #fff;
        }
    }
}