.game-info{
  font-family: Ubuntu-Light;
  font-size: 20px;
  font-size: 20px;
  color: #fff;
  font-weight: 300;
  min-height: 28px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  .value{
    font-family: Ubuntu-Bold;
    color:  #00ff64;
  }
}