.method__label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 10px 0;
    border-radius: 10px;

    &-title {
        display: flex;
        justify-content: space-between;
        padding: 0 20px 0 22px;
        transition: 0.4s;
        height: 56px;
        align-items: center;
        cursor: pointer;
        span {
            color: #fff;
            text-transform: uppercase;
        }
        &>input:checked+&-title.active{
            width: 91px;
            height: 2px;
            box-shadow: 0 0 5px 0 rgba(0, 246, 210, 0.7);
            background: rgba(0, 246, 210, 0.7);
    }
    }

    .action__place {
        padding: 0 18px;
        background-color: rgba($color: #fff, $alpha: .05);
        display: none;
        overflow: hidden;
        min-height: 200px;
        transition: max-height 0.2s ease-out;
        border-radius: 0 0 10px 10px;
        justify-content: space-between;
    }
    &.active{
        .action__place {
            display: flex;
        }
    }
}

.method__input {
    position: absolute;
    left: -9999px;
}

.input__action-radio {
    width: 100%;
}

.action__place {
    background-color: rgba($color: #fff, $alpha: .05);
    display: none;
    overflow: hidden;
    min-height: 200px;
    transition: max-height 0.2s ease-out;
    border-radius: 0 0 10px 10px;
    justify-content: space-between;
}

.action__request{
    padding: 20px 0 20px;
}

.buttons{
    display: flex;
}

.clear{
    width: 122px;
    height: 38px;
    margin: 20px 20px 2px 4px;
    padding: 10px 30px 11px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.3);
    opacity: .3;
    pointer-events: none;

    &.active{
        opacity: 1;
        color: #fff;
        pointer-events: all;
    #iconCancel{
            opacity: 1;
        }
    }
}