.footer {
  position: relative;
  padding: 30px 0;
  justify-content: center;
  .errorBlock{
    font-family: Ubuntu-Regular;
    text-align: center;
    padding: 5px 0;
    margin: 0 auto;
    opacity: 0;
    font-size: 20px;
    text-shadow: 2px 2px 0 #391306, 
    2px -2px 0 #391306, 
    -2px 2px 0 #391306, 
    -2px -2px 0 #391306, 
    2px 0px 0 #391306, 
    0px 2px 0 #391306, 
    -2px 0px 0 #391306, 
    0px -2px 0 #391306;
    color: #E43D40;
    transition: opacity .2s;
    &.active {
      opacity: 1;
    }
  }
  .footer-content{
    margin: 0 auto;
    display: flex;
    max-width: 872px;
    justify-content: space-between;
    font-size: 16px;
    color: #ffffff;
    p{
      line-height: 26px;
      .follow-txt{
        font-family: Ubuntu-italic;
      }
      a{
      text-decoration: none;
      color: #00ff64;
      font-family: Ubuntu-BoldItalic;
      }
      .on-twitter{
        font-family: Ubuntu-Regular;
      }

    }

  }
} 
