.footer {
  opacity: 0;
  font-size: 20px;
  text-shadow: #FFF 0px 0px 5px, 
  #FFF 0px 0px 10px, 
  #FFF 0px 0px 15px,
  #FF2D95 0px 0px 20px, 
  #FF2D95 0px 0px 30px, 
  #FF2D95 0px 0px 40px, 
  #FF2D95 0px 0px 50px, 
  #FF2D95 0px 0px 75px;
  color: #80ffdb;
  transition: opacity .2s;
  &.active {
    opacity: 1;
  }
} 
