.widget{
  right: 10px;
  display: flex;
  z-index: 9999;
  color: cornflowerblue;
  align-items: center;
  padding: 10px;
  min-width: 454px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 14px 14px 14px;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  font-family: Ubuntu-Bold;
  animation: appearance .3s;
  border-spacing: 12px 1px;
  margin-bottom: 10px;
  .loader{
    margin: 0;
    border-radius:50%;
    width: 50px;
    height: 50px;
    display: flex;
    background-color: #042548;
    img {
      width: 100%;
    }
  }
    &.active {
      display: flex;
    }
    .infoblock-wrapp{
      font-family: SFProDisplay;
  
    .title{
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      margin-bottom: 4px;
    }
    .value{
      text-align: left;
      font-size: 14px;
      color: rgba($color: #fff, $alpha: 0.7)  
    }
  }
  svg {
    margin-left: auto;
    align-self: flex-start;
    cursor: pointer;
  }
  svg:hover {
    path{
      fill:#00ff64;
    }
  }
  }

@keyframes appearance {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1
  }
}