.output__place{
  padding: 20px;
  max-width: 554px;
  min-height: 170px;
  background-color: rgba($color:#ffffff, $alpha: 0.1);
  overflow: scroll;
  margin: 26px 20px 20px 30px;
  border-radius: 10px;
  .output_inner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    font-family: SFProDisplay;
    font-style: italic;
    color:#ffffff;
    font-size: 14px;
  &.output_loading-block {
    opacity: 1;
    .loader img{
      display: block;
      width: 50%;
      height: auto;
      margin: 0 auto;
    }
  }
  &.output_json-block {
    display: block;
    word-wrap: break-word;
  }
}
}


.output__place::-webkit-scrollbar {
  width: 11px;
  height: 10px;
}

.output__place::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

.output__place::-webkit-scrollbar-track {
  background: transparent;
}

.output__place::-webkit-scrollbar-button {
  display: none;
}
.output__place::-webkit-scrollbar-corner {
  background-color: transparent;
  display: none;
 }