.button {
    // background: url('../../../assets/icon/button-new-game.svg');
    position: relative;
    width: 314px;
    height: 60px;
    margin-bottom: 10px;
    display: none;
    // margin: 0 0 0 11px;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    color: #fff;
    user-select: none;
    cursor: pointer;
    opacity: 0;
    &:hover .svgBG{
        fill: #00FF64 !important;
    }

    &.btn_NEW {
        .svgBG{
            fill: #00FF64 !important;
        }
    }

    &.btn_RETURN {
        display: block;
        opacity: 1;
        background-image:none;
        margin: 0 auto;
        padding: 9px 30px 9px;
        font-size: 16px;
        width: 314px !important;
        align-self: center;
        border-radius: 100px;
        border: solid 1px #979797;
        .titleDOM {
            display: flex;
        }
        .bgSvg {
            display: none;
        }

    }
 
    .titleDOM {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        z-index: 1; 
        height: 100%;
        width: 100%;
        align-items: center;
        justify-content: center;
        //animation: menu-inner .6s delay 0.3s;
    }

    .bgSvg {
        fill: #20866F;
        .svgBG{
            fill: #20866F;
        }
    }

}


span {
    margin-left: 11px;
}

@keyframes fadeIn {
   0% {
       opacity: 0
   } 
   100% {
       opacity: 1;
   }
}