.button {
    position: relative;
    width: 314px;
    height: 60px;
    margin: 0 0 10px;
    display: none;
    margin: 0 0 0 11px;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    color: #fff;
    user-select: none;

    &:hover .svgBG{
        cursor: pointer;
        fill: #00FF64;
    }

    .titleDOM {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bgSvg {
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;
    }

}

span {
    margin-left: 11px;
}