table,
thead,
tbody,
tfoot,
th,
td,
tr {
  all: unset;
}

.top {

  width: 684px;
  max-height: 519px;
  display: flex;
  flex-direction: column;
  // margin: 62px 2px 121px 141px;
  overflow: auto;
  border-radius: 10px;
  background-color: #dffd94;

  &::-webkit-scrollbar {
    width: 10px;
  }
  
  &::-webkit-scrollbar-track {
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    border-radius: 2px;
  }
  
  &::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background: rgba($color: #081d11, $alpha: .15);
  }

  .thHeader {
    width: 684px;
    height: 61px;
    margin: 0 0 20px;
    padding: 18px 0 21px 0;
    background-color: rgba($color: #081d11, $alpha: .15);

    th {
      font-size: 16px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #081d11;
    }

    th:first-child {
      width: 46px;
      height: 22px;
      margin: 0 31px 0 33px;

    }

    th:nth-child(2) {
      width: 92px;
      height: 22px;
      margin: 0 125px 0 0;

    }

    th:nth-child(3) {
      width: 39px;
      height: 22px;
      margin: 0 74px 0 0;

    }

    th:nth-child(4) {
      width: 44px;
      height: 22px;
      margin: 0 40px 0 0;
    }

    th:nth-child(5) {
      width: 44px;
      height: 22px;
      margin: 0 0 0 0;
    }
  }

  .tRow {
    width: 651px;
    height: 50px;
    margin: 0 16px 10px 17px;
    padding: 7px 0 12px 0;
    border-radius: 10px;
    background-color: #c0e16e;
    display: flex;

    td{
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #081d11;
    }

    td:first-child {
      font-size: 20px;
      width: 12px;
      height: 23px;
      margin: 8px 5px 9px 0;
      padding: 0 0 0 21px;
      
    }

    td:nth-child(2) {
      width: 180px;
      height: 18px;
      margin: 11px 0 11px 0;
      padding: 0 0 0 55px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    td:nth-child(3) {
      width: 41px;
      height: 18px;
      margin: 11px 62px 11px 37px;
    }

    td:nth-child(4) {
      width: 72px;
      height: 18px;
      margin: 11px 0 11px 10px;
    }

    td:nth-child(5) {
      width: 72px;
      height: 18px;
      margin: 11px 0 11px 10px;
    }
  }

  .leader {
    td:first-child {
      width: 50px;
      display: flex;
    }

    td:nth-child(2) {
      padding: 0 0 0 16px;
    }
  }
}