.output__place {
  .bracket {
    color: #ffffff;
  }
  button {
    display: inline-block;
    width: 0;
    height: 0;
    border: 5px solid transparent; border-left: 5px solid #ffffff;
    vertical-align:middle;
    background: transparent;
    cursor: pointer;

  }
  button.active {
    border: 5px solid transparent; border-top: 5px solid #ffffff;
  }
  li {
    padding-left: 20px;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.33;
    font-family: Menlo;
    span + span {
      margin-left: 5px;
    }
  }

  .list .list {
    display: none;
    color: #da68f5;
  }

  .visible {
    display: block !important;
  }

  .list .key {
    color: #ffffff;
    
  }

  .list .type {
    color: #99ff99;
  }

  .list li {
    list-style-type: none;
    color: #00f6d2;
  }
}
