.field{
    display: grid;
    grid-template-columns: 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px;
    border: 3px dotted cornflowerblue;
    justify-items: center;
    align-items: center;
    border-radius: 15px;
    & button {
        width: 80px;
        height: 80px;
        background-color: rgba(88, 183, 255, 0.2);
        color: #003333;
        font-size: 24px;
        font-weight: bold;
        border: 1px solid rgba(88, 183, 255);
        outline: none;
        cursor: pointer;
      }
}
