.winner{
    margin: 10px auto;
    width: 500px;
    height: 350px;
    background-color: rgba(0, 255, 100, 0.2);
    border: 2px solid #dffd94;;
    opacity: .8;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    & h1 {
        font-size: 35px;
        color: #dffd94;
    }
    div{
        span:first-child{
            color: #dffd94;
        }
        span:last-child{
            color: #fff;;  
        }
    }
}
