.upload {
  display: none;
}

.upload.active {
  z-index: 999;
  height: 98%;
  margin: 0 auto;
  display: flex;
  background-color: #042548;
}

.formUpload {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 60px auto;
  width: 580px;
  height: 286px;
  border-radius: 10px;
  border: 2px dashed #1af6d6;
  background-color: rgba(26, 246, 214, 0.1);

  &:hover,
  &.hover {
    background-color: rgba(26, 246, 214, 0.2);
    cursor: pointer;

    .label {
      opacity: .5;
      cursor: pointer;
    }

    .text {
      opacity: .35;
    }

    #iconDrop {
      opacity: .5;
    }
  }
}

.input {
  opacity: 0;
  position: absolute;
  z-index: -1;
  overflow: hidden;
  width: 0.4px;
  height: 0.4px;

}

.label {
  width: 151px;
  height: 38px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 50px;
  background-color: #00f6d2;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  .labelText {
    padding: 0 0 4px;
    user-select: none;
  }
  .iconArr{
    user-select: none;
  }
}

.text {
  color: #fff;
  opacity: .7;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal;
  font-size: 14px;
  user-select: none;
}

// .label .text,
// .label .icon path {
//   transition: .25s ease;
// }

// .label:hover .text {
//   color: #00f6d2;
// }

// .label:hover .icon path {
//   fill: #00f6d2;
// }

// .label:hover {
//   border: 2px dashed #00f6d2;
// }

// /* drag and drop - "hover" */
// .label.hover .text {
//   color: #ffb300;
// }

// .label.hover .icon path {
//   fill: #ffb300;
// }

// .label.hover {
//   border: 2px dashed #ffb300;
// }

// /* drag and drop - ошибка */
// .label.error .text {
//   color: #d32f2f;
// }

// .label.error .icon path {
//   fill: #d32f2f;
// }

// .label.error {
//   border: 2px dashed #d32f2f;
// }

// /* drag and drop - файл(ы) успешно перетянут(ы) */
// .label.drop .text {
//   color: #99ff99;
// }

// .label.drop .icon path {
//   fill: #99ff99;
// }

// .label.drop {
//   border: 2px dashed #99ff99;
// }