/* common start */

html, body {
    font-family: 'SFProDisplay', sans-serif;
    font-weight: normal;
    height:      100%;
    width:       100%;
    overflow:    hidden;
    margin:      0;
    color:       white;
}

.error {
    display:         flex;
    align-items:     center;
    justify-content: center;
    height:          100%;
    width:           100%;
    overflow:        hidden;
    word-break:      break-word;
    color:           red;
}

.loading {
    display:         flex;
    align-items:     center;
    justify-content: center;
    height:          100%;
    width:           100%;
    overflow:        hidden;
    word-break:      break-word;
}

pre {
    font-family: 'SFProDisplay', sans-serif;
    font-weight: normal;
    white-space: pre-wrap;
}

.upload {
    display:         flex;
    align-items:     center;
    justify-content: center;
    margin-bottom: 20px;
}

.vertical-container {
    display: flex; 
    flex-direction: column;
    width:  100%;
    height: 100%
}

.items {
    display:   flex;
    flex-wrap: wrap;
    overflow:  auto;
    flex-grow: 1;
    margin-left: -16px;
    margin-bottom: -16px;
}

.items > .item {
    margin-left: 16px;
    margin-bottom:  16px;

    display: flex;
    flex-direction: column;
    width:   350px;
    height:  445px;
    border:  1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;

}

.item .preview-container {
    height: 350px;
    margin-bottom: 18px;
    margin-top: 20px;
    margin-left: 18px;
    margin-right: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item  img {
    max-width:100%;
    max-height:100%;
    object-fit: contain;
    border-radius: 5px;
}

.item > .info-row
{
    box-sizing: border-box;
    padding-left: 18px;
    padding-right: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3px;
}

::-webkit-scrollbar {
    width: 11px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(255, 255, 255, .5);
    border: 3px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-button {
    display: none;
}

.dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 6px;
}

.green {
    background-color: limegreen;
}

.red {
    background-color: crimson;
}

.darker {
    opacity: 0.5
}

.small {
    font-size: 0.85em;
}

.normal {
    font-size: 0.9em;
    opacity: 0.9;
}

.bolder {
    font-weight: 500;
}

.bold {
    font-weight: 600;
}

.hidden {
    display: none;
}

a {
    color: limegreen;
    text-decoration: none;
}

.buy {
    color: limegreen;
    border: 1px solid limegreen;
    border-radius: 3px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 0.78em;
}

.ml-hem {
    margin-left: 0.5em;
}