.menu {
    margin: 25vh auto;
    width: 500px;
    height: 350px;
    background-color: palevioletred;
    border: 3px dotted cornflowerblue;
    opacity: .8;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    &.active {
        margin: 1vh auto;
        width: 550px;
        height: 70px;
        background: none;
        display: flex;
        flex-direction: row;
        align-content: center;

        .button {
            width: 150px;
            height: 30px;
        }
    }
}