@import 'fonts';

*{
  font-family: 'SFProDisplay';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 600;
}
html {
    height: 100%;

  }
body{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background-image: url('../assets/bg.png');

}