.main{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    // background-image: url('../../assets/bg.png');
}