.json-request{
	padding: 9px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	.params__input {
		margin-top: unset;
		width:100%;
		margin-right: 20px;
		min-width: unset;
	}
}