.params__input {
    width: 100%;
    min-width: 290px;
    height: 32px;
    border-radius: 10px;
    background-color: rgba($color: #fff, $alpha: .05);
    border: none;
    outline: none;
    font-family: SFProDisplay;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-top: 10px;
    padding: 0 0 0 14px;

    color:rgba($color: #fff, $alpha: 1.0);
}

@media (max-width: 650px) {
    .params__input{
        max-width: unset;
    }  
}
