.button {
    will-change: background-image; 
    position: relative;
    width: 314px;
    height: 60px;
    margin: 0 0 10px;
    // padding: 13px 86px;
    background-image: url('../../assets/icon/button-settings.svg');
    background-repeat: no-repeat;
    display: none;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 11px;
    font-family: Ubuntu;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: normal;
    color: #fff;
    user-select: none;

    &:hover {
        cursor: pointer;
        transition: background-image .2s ease-in;
        background-image: url('../../assets/icon/button-new-game.svg');
    }


}

span {
    margin-left: 11px;
}