.button {
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: #3E66FB;
    border-radius: 8px;
    width: 150px;
    height: 60px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}