.output__place {
  padding: 0 0 20px;
	width: 60%;
	align-self: stretch;
  .output__container {
    padding: 20px;
    max-width: 554px;
		min-height: 170px;
    height: calc(100% - 62px);
    background-color: rgba($color: #ffffff, $alpha: 0.1);
    overflow: scroll;
    border-radius: 10px;
    .output_inner {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.5;
      font-family: SFProDisplay;
      font-style: italic;
      color: #ffffff;
      font-size: 14px;
      &.output_loading-block {
        opacity: 1;
        .loader img {
          display: block;
          width: 50%;
          height: auto;
          margin: 0 auto;
        }
      }
      &.output_json-block {
        display: block;
        word-wrap: break-word;
      }
    }
  }
}

.output__container::-webkit-scrollbar {
  width: 11px;
  height: 10px;
}

.output__container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}

.output__container::-webkit-scrollbar-track {
  background: transparent;
}

.output__container::-webkit-scrollbar-button {
  display: none;
}
.output__container::-webkit-scrollbar-corner {
  background-color: transparent;
  display: none;
}

@media (max-width: 650px) {
  .output__place {
    padding-top: 14px;
    max-width: unset;
    width: 100%;
  .output__container {
    height: 0;
    max-width: unset;
  }
}
}
