.header {
    height: 132px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    display: flex;
    align-items: center;
    border-radius: 10px;

    &__app {
        width: 300px;
        height: 112px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        margin: 0 10px 0 10px;
    }
    &__info {
        width: 68%;
        height: 112px;
        // background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        margin: 0 10px 0 10px;
        display: flex;
    }
    .info__titles {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        &-status,
        &-id,
        &-name {
            font-family: SFProDisplay;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.14;
            letter-spacing: normal;
            color: rgba($color: #8da1ad, $alpha: 1);
        }
    }
    .info__data {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 0 0 0 20px;
        &-status,
        &-id,
        &-name {
            word-break: break-word;
            font-family: SFProDisplay;
            font-size: 14px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.14;
            letter-spacing: normal;
            color: rgba($color: #fff, $alpha: 1);
        }
    }
}
